.wrap {
  display: flex;
  position: relative;
  justify-content: space-between; /* Aligns items to the start and end of the parent div */
}

.links {
  display: flex;
  align-items: start; /* Vertically center items */
  margin-left: 2rem;
  margin-top: 0.5rem;
  padding: 10px;
}

.custom-link {
  background: transparent;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  margin: 1rem;
  justify-content: center;
  text-align: center;
}

.custom-link:hover {
  background: rgba(255, 255, 255, 0.2);
}

.end-item{
  position: relative;
  padding: 10px;
  justify-content: end;
  border-radius: 10px;
  margin-right: 1rem;
  top:0;
  right: 0;
  color: white;
  transition: 0.3s ease-in-out;
}

.end-item:hover{
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.dropdown{
  background: #6c9499;
  position: fixed;
  border-radius: 10px;
  padding: 10px;
}

.dropdown-wrap{
  transition: ease-in-out 0.3s;
  padding: 1px 5px 1px 5px;
  border-radius: 10px;
}

.dropdown-wrap:hover{
  background: rgba(255, 255, 255, 0.2);
}

.dropdown-content {
  color: #f9f9f9;
  text-decoration: none;
}

.logo{
  justify-content: start;
  height: 40px;
}
